*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head{
    background-color: #0E141A;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icono-inicio{
    width: 10vh;
}

.btn{
    padding: 2vh;
    width: 20vh;
    border-radius: 2px;
    font-weight: bold;
}

.registro{
    background-color: #E01A22;
    color: #ffff;
    border-color: #E01A22;
}

.registro:hover{
    background-color: #ffff;
    color: #E01A22;
    border-color: #ffff;
    cursor: pointer;
}

.inicio{
    background-color: #0E141A;
    color: #ffff;
    border-color: #0E141A;
}

.inicio:hover{
    background-color: #ffff;
    color: #0E141A;
    border-color: #ffff;
    cursor: pointer;
}

.input-buscador{
    background-color: #0E141A;
    height: 5vh;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px  solid #385066;
    border-radius: 2px;
    padding-left: 1vh;
}

.input-buscador:focus {
    color: #ffff;
}

.input-buscador::placeholder {
    color: #385066;
    font-weight: bold;
}

#btn-buscador{
    height: 5vh;
    width: 5vh;
    align-self: center;
    margin-left: -3vh;
    margin-top: 1vh;
    position: absolute;
    color: #385066 !important;
}

.buscar{
    width: 2vh;
    background-color: #0E141A;
    color: #ffff;
    border: 1px #0E141A;
}

nav ul {
    background-color: #11181F;
    display: flex;
    justify-content: space-around;
    padding: 1% 10%;
}

nav ul a {
    font-size: 3vh;
    text-decoration: none;
    font-weight: bold;
    color: #91a4b6;
}

nav ul a:hover {
    color: #ECD503;
}
#fondo{
    background-image: url(../img/1137.jpg) ;
    background-size: 100%;
    
    

}
.intro_inicio{
    text-align: justify;
    font-size: x-large;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    animation: intro 7s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes intro {
    0% {
      transform:  translatex(800px);
      opacity: 1;
    }
    60% {
      opacity: 0.5;
    }
    100% {
      transform:  translatex(-1000px);
      opacity: 0;
    }
  }

/*******/

section{
    background-color: #c8d9eb;
    padding: 0;
    margin: 0;
}
.que_es :hover{
    color: #0E141A;
}


.textonosotros{
    display:flex ;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: x-large;
    background-color: #385066;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.textonosotros p{
    margin: 15px;
}

.nosotros{
    margin: 0;
    padding: 0;
    background-color: #0E141A;
}

.slider-box{
    margin: 0;
    padding: 0;
    width: 1280px;
    height: auto;
    
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.textocancha{
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: #ffffff;
}

.textocancha h2{
    font-size: 45px;
    margin-bottom: 35px;
}

.textocancha p{
    font-size: x-large;
    background-color: rgba(0, 0, 66, 10);
}
.slider-box img{
    width: 70%;
    height: 50%;
    padding: 0;
}

@keyframes slide{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

/****/
.caja_form{
    display: flex;
    background-color:#e6ecf2;
   

}
.fcontacto{
    position: relative;
    min-width:50%;
    left: 25%;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    border-radius: 15px;
    background-color:#91A4B6;
    display: inline-flex;
    flex-direction: column;
    font-size:larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  
 }
 .fcontacto label{
    color:#0E141A;
    
 }

 .fcontacto input{
    height: 20%;
   
 }

.fcontacto textarea{
    overflow: hidden;
    height: 100px;
}

#submit_enviar{ 
    background-color:#e6ecf2;
    margin: 10px;
    height: 20%;
    width: 20%;
    justify-content: center;
    border-radius: 5px;

}

#submit_enviar:hover{
    background-color: #5a80a6;
}

.mapa{
    overflow: hidden;
    position: relative;
}

.mapa iframe{
    
    width: 100%;
    height: 100%;

}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    font-weight: bold;
    text-align: center;        
    background-color: #4c6c8d;
    padding: 1em;
       
}
.logo_foot{
    height: 64px;
    width: 64px;
}

.list_redes li{
    list-style-type:none ;
    display:inline;
}

.iconos-redes:hover{
    transform: scale(2,2) rotate(-25deg) translate(5px);
   
}
